/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Mulish', sans-serif; /* 600, 700 e 900 */
}

:root {
  font-size: 62.5%;

  --accent-color: #B52184;
  --text-base-color: #312D64;
  --linear-gradient: #;
}

body {
  font-family: 'Mulish', sans-serif;
  background: #F9F4FB;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-weight: 900;
  font-size: 3.2rem;
  color: var(--accent-color);
  line-height: 4.0rem;

  margin: 1.7rem auto 0.5rem;
}

p {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-base-color);
  line-height: 2.0rem;
}

h2 {
  font-weight: 900;
  font-size: 3.2rem;
  color: var(--accent-color);
  line-height: 4.0rem;

  margin-bottom: 4.3rem;
}

h3 {
  font-weight: 900;
  font-size: 2.9rem;
  color: var(--accent-color);
  line-height: 3.7rem;
}

button, input, fieldset, textarea {
  border: none;
  background: none;
  font-family: 'Mulish', sans-serif;;
}

/* Hero Section */
#hero {
  padding: 0 3.4rem 9.3rem 3.2rem;

  text-align: center;
}

#hero .hero-text p {
  font-weight: 600;
  font-size: 2.0rem;
  color: var(--text-base-color);
  line-height: 2.5rem;

  margin-bottom: 3.5rem;
}

#hero .hero-text .button-down {
  width: 5.8rem;
  height: 10.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  border: 4px solid var(--accent-color);
  border-radius: 76.0rem;

  transition: filter 300ms;
}

#hero .hero-text .button-down:hover {
  filter: brightness(0.7);
}

#hero .hero-text .button-down img {
  width: 3rem;
}

/* Cards Section */

/* Contact Section */
#contact {
  padding: 7.8rem 3.9rem 6.5rem;
}

#contact form .input-wrapper {
  margin-bottom: 2.4rem;
}

#contact form input,
#contact form textarea {
  width: 100%;
  border: 0.15rem solid var(--text-base-color);
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.4rem;

  color: #312D64;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  color: #312D64;
}

#contact form input::placeholder {
  padding-left: 3.6rem;
}

#contact form textarea {
  height: 12.6rem;
  resize: none;
}

#contact form button {
  background: var(--linear-gradient);
  padding: 1.6rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #FFFFFF;

  transition: filter 300ms;
}

#contact form button:hover {
  filter: brightness(0.9);
}

#name {
  background: url(./images/person.svg);
  background-repeat: no-repeat;
  background-position: 1.4rem 1.2rem;
}

#email {
  background: url(./images/email.svg);
  background-repeat: no-repeat;
  background-position: 1.4rem 1.2rem;
}

/* Footer Section */
footer {
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);

  padding: 3.2rem 1.6rem;

  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;

  text-align: center;
}