/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Mulish', sans-serif; /* 600, 700 e 900 */
}

:root {
  font-size: 62.5%;

  --accent-color: #B52184;
  --text-base-color: #312D64;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-weight: 900;
  font-size: 3.2rem;
  color: var(--accent-color);
  line-height: 4.0rem;

  margin: 1.7rem auto 0.5rem;
}

p {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-base-color);
  line-height: 2.0rem;
}

h2 {
  font-weight: 900;
  font-size: 3.2rem;
  color: var(--accent-color);
  line-height: 4.0rem;
}

h3 {
  font-weight: 900;
  font-size: 2.9rem;
  color: var(--accent-color);
  line-height: 3.7rem;
}

/* Hero Section */
#hero {
  padding: 0 3.4rem 9.3rem 3.2rem;

  text-align: center;
}

#hero .hero-text p {
  font-weight: 600;
  font-size: 2.0rem;
  color: var(--text-base-color);
  line-height: 2.5rem;

  margin-bottom: 3.5rem;
}

#hero .hero-text .button-down {
  width: 5.8rem;
  height: 10.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  border: 4px solid var(--accent-color);
  border-radius: 76.0rem;

  transition: filter 300ms;
}

#hero .hero-text .button-down:hover {
  filter: brightness(0.7);
}

#hero .hero-text .button-down img {
  width: 3rem;
}