/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Mulish', sans-serif;
}

:root {
  font-size: 62.5%;

  --accent-color: #B52184;
  --text-base-color: #312D64;
  --white: #FFFFFF;
}

body {
  background: #F9F4FB;
}

button,
input,
fieldset,
textarea {
  border: none;
  background: none;
}


/* Hero Section */
#hero {
  padding: 0 3.4rem 9.3rem 3.2rem;

  text-align: center;
}

#hero .astronaut img { 
  width: 100%;
  display: block;
}

#hero .hero-text h1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.0rem;
  color: var(--accent-color);

  margin: 1.7rem auto 0.5rem;
}

#hero .hero-text p {
  font-weight: 600;
  font-size: 2.0rem;
  line-height: 2.5rem;
  color: var(--text-base-color);

  margin-bottom: 3.5rem;
}

#hero .hero-text .button-down {
  width: 5.8rem;
  height: 10.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  border: 4px solid var(--accent-color);
  border-radius: 76.0rem;

  transition: filter 300ms;
}

#hero .hero-text .button-down:hover {
  filter: brightness(0.7);
}

#hero .hero-text .button-down img {
  width: 3rem;
}


/* Cards Section */
#cards {
  padding: 5.3rem 3.9rem;

  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#cards .card {
  background: var(--white);
  border-radius: 2rem;

  padding: 2.6rem;
}

#cards .card img {
  margin-bottom: 3.3rem;
}

#cards .card-text {
  width: 26.5rem;
}

#cards .card-text h3 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.7rem;
  color: var(--accent-color);

  margin-bottom: 2rem;
}

#cards .card-text p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-base-color);
}


/* Contact Section */
#contact {
  padding: 7.8rem 3.9rem 6.5rem;
}

#contact form h2 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.0rem;
  color: var(--accent-color);

  margin-bottom: 4.3rem;
}

#contact form .input-wrapper {
  margin-bottom: 2.4rem;
}

#contact form input,
#contact form textarea {
  border: 0.15rem solid var(--text-base-color);
  border-radius: 1.6rem;

  width: 100%;
  padding: 1.6rem;

  font-weight: 600;
  font-size: 1.6rem;
  
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: var(--text-base-color);
}

#contact form input {
  padding-left: 5rem;
}

#contact form textarea {
  height: 12.6rem;
  resize: none;
  line-height: 2rem;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  color: var(--text-base-color);
}

#name {
  background: url(./images/person.svg) no-repeat 1.4rem 1.2rem;
}

#email {
  background: url(./images/email.svg) no-repeat 1.4rem 1.2rem;
}


#contact form button {
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  border-radius: 1.6rem;
  padding: 1.05rem 1.6rem;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--white);

  transition: filter 300ms;
}

#contact form button:hover {
  filter: brightness(0.9);
}


/* Footer Section */
footer {
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);

  padding: 3.2rem 1.6rem;

  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  
  text-align: center;
}

footer p {
  color: var(--white);
}